* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.section2 {
    background-image: url('fertilizer-guide.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 215px;
    margin-top: -30px;

}

#text1 {
    color: black;
    font-size: 49px;
    top: 80px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800px;
    left: 46px;
}

.section3 {
    background-image: url('featured\ poducts.png');
    height: 850px;

    position: relative;
    bottom: 23px;
    overflow-x: hidden;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

#button1 {
    position: relative;
    height: 80px;
    background-color: #4BAF47;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 338px;
    top: 120px;
    left: 48px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    
}
#image1 {
    position: relative;
    right: 500px;
    top: 0px;
    width: 200px;
}
#button2 {
    position: relative;
    height: 80px;
    background-color: #4BAF47;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 338px;
    top: -50px;
    left: 48px;
     font-size: 20px;
    color: white;
}

#button3 {
    position: relative;
    height: 80px;
    background-color: #4BAF47;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 338px;
    top: 10px;
    left: 48px;
     font-size: 20px;
    color: white;
}

#button4 {
    width: 200.41px;
    height: 60.5px;
    background-color: #fafF00;
    border: 5px solid #000000;
    border-radius: 5px;
    top: 50px;
    position: relative;
    border-radius: 10px;
    left: 110px;
}